body {
  background-image: linear-gradient(#D1FAFF, #FFFFFF);
}
h1 {
  color: black;
  font-family: cursive;
  text-align: center;
}
h2 {
  color: #F04579;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
